html, body, #map-canvas { 
	height: 100%; 
	margin: 0; 
	padding: 0;
}

body{
	width:1000px;
	margin:0 auto;
	font:normal normal 13px arial,sans-serif;
}

/* MAP BOX */
#map_canvas {
	width:100%;
}

#map-wrapper {
	height:400px;
	position:relative;
	overflow:hidden;
}

/* side bar */
#map-content {
	height:400px;
	position:absolute;
	top:0;
	width:75%;
	background:rgba(255,255,255,0.4);
	z-index:999;
	right:100%;
}

#map-content-close {
	position:relative;
}

#map-content-close img {
	position:absolute;
	right:10px;
	top:10px;
}

/* TIMELINE */

#date_range_wrapper {
	margin-top:30px;
}

#map_search {
	position:absolute;
	
	/* dirty map styles overiding */
	top:7px !important;
	right:70px !important;

	background:#fff url("http://localhost:8000/MapFour/search.png") 95% center no-repeat;
	border:1px solid #999;
	border-radius:3px;
	width:120px;
	box-shadow:inset 1px 1px 1px #999;
	padding:5px;
	padding-right:28px;
}